<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mission to Mars</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  </head>

  <body>
    <div class="container">
      <div class="jumbotron text-center">
        <h1>Mission to Mars</h1>
        <p>
          <a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a>
        </p>
      </div>

      <!-- Mars News Data -->
      <div class="row">
        <div class="col-md-12">
          <h2 class="heading">Latest Mars News</h2>
          <h4><b>{{Mars_data.news_title}}</b></h4>
          <p>{{Mars_data.news_p}}</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-7">
          <h2 class="heading">Featured Mars Image</h2>
          <img
            src="{{Mars_data.featured_image_url}}"
            alt="Featured Image"
            style="height: 100%; width: 100%; object-fit: contain"
          />
        </div>

        <div class="col-md-5">

          <h4><b>Mars Facts</b></h4>
          <table>{{Mars_data.table}}</table>
        </div>
      </div>


      <div class="row">
        <div class="col-md-12">
          <h2 class="heading" style="text-align: center;">
            <b>Mars Hemispheres</b>
          </h2>
          <hr />
          <div class="col-md-3">
            <div
              class="card"
              style="border-style: solid; border-color: lightgray; padding: 1rem;"
            >
              <img
                src="{{Mars_data.hemisphere_image[0]['img_url']}}"
                alt="Cerberus"
                style="height: 100%; width: 100%; object-fit: contain"
              />
              <h4><b>{{Mars_data.hemisphere_image[0]['title']}}</b></h4>
            </div>
          </div>
          <div class="col-md-3">
            <div
              class="card"
              style="border-style: solid; border-color: lightgray; padding: 1rem;"
            >
              <img
                src="{{Mars_data.hemisphere_image[1]['img_url']}}"
                alt="Schiaparelli"
                style="height: 100%; width: 100%; object-fit: contain"
              />
              <h4><b>{{Mars_data.hemisphere_image[1]['title']}}</b></h4>
            </div>
          </div>
          <div class="col-md-3">
            <div
              class="card"
              style="border-style: solid; border-color: lightgray; padding: 1rem;"
            >
              <img
                src="{{Mars_data.hemisphere_image[2]['img_url']}}"
                alt="Sytis Major"
                style="height: 100%; width: 100%; object-fit: contain"
              />
              <h4><b>{{Mars_data.hemisphere_image[2]['title']}}</b></h4>
            </div>
          </div>
          <div class="col-md-3">
            <div
              class="card"
              style="border-style: solid; border-color: lightgray; padding: 1rem;"
            >
              <img
                src="{{Mars_data.hemisphere_image[3]['img_url']}}"
                alt="Valles Marineris"
                style="height: 100%; width: 100%; object-fit: contain"
              />
              <h4><b>{{Mars_data.hemisphere_image[3]['title']}}</b></h4>
            </div>
          </div>
        </div>
      </div>

      



    </div>
  </body>
</html>